00:00 +0: loading /home/sina/orca/projects/NotTik/test/widget_test.dart
00:00 +0: NotTik App launches and shows onboarding if no connection
00:00 +1: NotTik App launches History if connection is present
00:00 +2: All tests passed!
